<footer class="center">
  <div class="measure">
    <div style="text-align: center">
      <img src="{{ "/" | prepend: site.baseurl }}assets/images/dehosted.svg" alt="Deutscher Serverstandort und Datenschutzstandard" height="80" style="margin: 10px;">
      <a href="http://made-in-bremen.net">
        <img src="{{ "/" | prepend: site.baseurl }}assets/images/madeinbremen.png" alt="Proudly made in Bremen" height="80" style="margin: 10px;">
      </a>
    </div>

    <small>
      Theme crafted with &lt;3 by <a href="http://johnotander.com">John Otander</a> (<a href="https://twitter.com/4lpine">@4lpine</a>).<br>
      &lt;/&gt; available on <a href="https://github.com/johnotander/pixyll">Github</a>.
    </small>
  </div>
</footer>
